/*CALENDAR*/

*{
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.row:before {
  display: table;
  content: " ";
}

.grid-calendar {
  min-width: 320px;
}
.grid-calendar .row {
    /*
      override these from bootstrap

      margin-right: -15px;
      margin-left: -15px;
    */
  margin: 0;
}
.grid-calendar .calendar-week .grid-cell {
  background-color: #f6f6f6;
  border: 1px solid #fff;
}
.grid-cell-days{

  height: 80px;
  width: 14.28571%;
  background-color: black;
  color: white;
  /*border: 1px solid #fff;*/
  text-align:left;
  font-size: 13px;
  padding-top: 40px;
  position: relative;
  display: inline-block;
  font-weight: bold;

}
.empty-data{
  
  height: 149px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  text-align:center;
  font-size: 15px;
  padding: 50px;
  position: relative;
}

.days-data{
  
  height: 80px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  text-align:center;
  font-size: 15px;
  padding: 50px;
  position: relative;
}

.day-grid{
  
  height: 50px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  text-align:center;
  font-size: 15px;
  padding: 50px;
  position: relative;
}
.grid-calendar .calendar-week-header .grid-cell > div > div {
  padding-bottom: 10px;
  height: 80px;
}
.grid-calendar .grid-cell {
  display: inline-block;
  /*float: left;*/
  min-height: 1px;
  padding: 0;
  position: relative;
  width: 14.28571%;
  height: 149px;
  font-size: 12px;
  font-weight: bold;
}

#image-small{

  width: 100%;
}

.grid-calendar .grid-cell.previous-month {
  color: #a6a6a6;
}
.grid-calendar .grid-cell.next-month {
  background-color: #e1e1e1;
}
.grid-calendar .grid-cell > div {
  /*display: flex;*/
  /*justify-content: center;*/
  width: 100%;
}
.grid-calendar .grid-cell > div > div {
  /*height: 0;*/
  height: 133px;
  padding: 50% 0;
}
/*.meal-type{
/*  -webkit-transform: rotate(271deg);
-moz-transform: rotate(271deg);
-o-transform: rotate(271deg);
writing-mode: lr-tb;

-webkit-transform: rotate(90deg); 
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg);
            color: #000;
            font-size: 22px;                
            height: 200px;
            width: 200px;
            float: left;        
            vertical-align:top;  

}*/

#editRecipe{
  top:5%;
  right:50%;
  outline: none;
}
input#del{

  position: absolute;
  right:    0;
  bottom:   0;
}

#month-box{

  font-size:30px;
  vertical-align: middle;
  text-align: center;
}

div#cal-box{

  /*padding-left: 100px;*/
}
div#shop-butt{

  padding-left:80px;
}

button#left-arr{
  vertical-align:middle;
}

button#right-arr{
  vertical-align:middle;
}

div#cal-month{
  vertical-align: middle;
  padding-left: 280px;
}

div#div-meal{

  font-weight: bold;
}
.meal-type{

 margin-left: -70px;
 position: absolute;
 z-index: 2;
 
 color: #000;
 font-size: 22px;  

 -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg); 
      -ms-transform: rotate(-90deg); 
       -o-transform: rotate(-90deg); 
          transform: rotate(-90deg);
}
#breakfast{
  margin-top: 50px;
  margin-left: -80px;

}
#lunch{
  margin-top: 200px;

}
#dinner{
  margin-top: 350px;
}
#snack{
  margin-top: 500px;
}