
body { 
    
    padding-top: 85px; 
    padding-bottom:80px;
    width: 100%;
    
}

html {
    width: 100%;
    height: 100%;
}

nav#footer{

    /*background-color: #E61155;*/
    color: white;
    font-family: 'Pacifico', coursive;
}

div#menu-box{

    color:white;
}

.navbar-fixed-top{
    color:white;
    border:transparent;
}
.nav-tabs{
    border:transparent;
    color:white;
}
.top-bar{

    /*background: #ffcc33;YELLOW*/
    /*background-color:#E61155;*/
    /*background-color: #FAF2F8;Off White*/
    /*background: #178A70;Light GREEN*/
    /*background:#045A40;*/
    /*background:#611427;GOOD RED*/
    /*background-color:#1D2325;My FAVORITE */
    background-color: #4f8c49;
    /*background-color:#8ac284;*/
    /*background-color:#5C832F;*/
    border:transparent;
    padding-top:40px;
    color:white;

}
#menu{

    /*color:#1D2325;GRAY*/
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#submenu{

    color: #4f8c49;
    font-weight: 500;
    font-size: 18px;
}

#homepage{

  /*padding-top: 250px;*/
  background-image: url('/static/img/homepage1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  /*line-height: 1.3;*/
  -webkit-font-smoothing: antialiased;
  /*height: 600px;*/
  height:100%;
  /*font-size: 80px;*/
  font-family: 'Playfair Display';
  font-style: italic;
  /*font-family:'Raleway';*/
  font-weight: 900;
  text-align: center;
  vertical-align: middle;

}

#jumb-box{

    background-color: transparent;
    font-family: 'Playfair Display';
    font-style: italic;
    color: white;
    padding-top:150px;
}
p#main-title{
    
    font-size: 80px;
    font-weight: 900;
    
}

p#sub-title{
    
    font-size: 60px;
    font-weight: 900;
}

a#join{

    font-size:20px; 
    font-family: 'Pacifico';
    background-color:#E61155;
    padding-bottom:40px;  
}

.btn-info.round {
    border-radius: 24px;
}

.logo-wrap{
   
   text-align:left;
   /*width: 100px;*/
   font-size: 25px;
   font-family: 'Pacifico', cursive;
   /*color: #5C0009;*/
   color: white;
}
#logo{

    color:white;
}

.title-wrap{
   /*width:900px;*/
   font-size: 40px;
   text-align:center;
   font-family: 'Playfair Display';
   /*color: #1B2340;*/
   color:white;
   font-style: italic;
   font-weight: 900;
   padding-left:200px;
}

.login-wrap{
   /*width: 200px;  */
   text-align:right;
   font-size: 20px;
   font-family: 'Playfair Display';
   font-style: italic;
   /*color: #5C0009;*/
   color:white;
   vertical-align: bottom;
   padding-top:10px;
   padding-right: 30px;
 
}

.sign{

    /*border: 2px dotted #E61155;*/
    border:transparent;
    background-color: transparent;
    color:white;
    padding-top: 10px;
    font-size:18px;
    font-weight: 500;
}

.img_container{
   
  width:100%;
  height: auto;
}

div#section{

    /*width:400px;*/
    font-size: 15px;
    padding: 40px;
    text-align:center;
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 500;
    /*font-style: italic;*/
    /*text-align: justify;*/
}
a#sect-title{

    font-size:25px;
    color:#1D2325;
    font-family:'Raleway', sans-serif;
    font-weight: 600;
}

p#sect-text{

    font-size:18px;
    text-align: justify;
}

/* Recipe list*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#filter-form{
    padding-top: 30px;
    font-weight: 500;
}

div#nav{
    line-height:30px;
    /* background-color:#eeeeee; */
    height:auto  ;  
    width:350px;
    float:left;
    padding-left: 30px;
    padding-top:30px;
} 
    
div#recipe-box{
    
    /*width: 1200px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    /*padding-left: 20px;*/
    padding-top: 30px;
 
}
div#recipe-title{
        
    font-size: 20px; 
    font: bold;
    /*font-family: 'Playfair Display';*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    vertical-align: bottom;
    padding-top: 20px;
    padding-bottom:20px;
    font-weight: 700;
}

div#recipe-desc{
    
    font-size: 15px; 
    /*width:500px;*/
    text-align: left;
    vertical-align: center;
    padding-right: 30px;
}

div#view-button{

    margin-top: 20px;
    /*float: rigth;*/
    width: 10%;
    vertical-align: bottom;

    
}
div#reset{

    padding-right: 30px;
    padding-top:30px;
}

div#flt-bt{
    padding-left: 23px;
}

div#reset-filter{
    padding-right:20px;
}

.form-inline > * {
   margin:5px 3px;
}

img#recipe-img{
    width:300px;
    padding-top: 20px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

/*Recipe List in Bootstrap*/
#filter-box{
    /* background-color:#eeeeee; */
    height: 100vh;  
    float:left;
    padding-left: 30px;
    padding-top:30px;
    position: relative;
}
/* Recipe page */

/*#recipe-page{
   
  width:600px;
}
*/
div#recipe-header{

    padding-top:30px;
}

div#img-box{

    padding-top:30px;
}

div#ingr-box{
    /*width:400px;*/
    padding-top: 20px;
    /*padding-left: 20px;*/
    
}

div#steps-box{
    /*width:600px;*/
    /*padding-top: 20px;
    padding-left: 20px;*/
    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Brush Script MT', cursive;*/
    font-size: 15px;
   
}
div#ingr-item{

    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Playfair Display';*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-style: italic;*/
    font-size: 15px;
    text-align: left;
    font-weight: bold;

    
}
div#ingr-qty{

    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 15px;
    /*font-family: 'Brush Script MT', cursive;*/
    text-align: left;
    /*padding-left: 20px;*/
    font-weight: bold;
    padding-left:25px;
}

div#qty{

    text-align: right;
}
div#step-num{

    /*font-family: 'Brush Script MT';*/
    font-size: 18px;
    /*font-family: 'Open Sans';*/
    text-align: left;
    padding-left: 20px;
    /*padding-top: 20px;*/
    /*font-weight: 900;*/
    font-weight: bold;
    
}
div#step-desc{

    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Helvetica', sans-serif;*/
    font-size: 18px;
    /*font-weight: 500;*/
    text-align: justify;
    padding-left: 20px;
    /*padding-top: 20px;*/

}
div#r-desc{
    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 18px;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}

div#planner-butt{

    padding-top:10px;
    padding-left:40px;
    text-align:right;
}

div#delete-butt{

    padding-top:10px;
    padding-right:10px;
}

div#info-butt{

    padding-right:20px;
    padding-left:80px;
    padding-top:30px;
    
}

div#ingr{
    /*font-family: 'Brush Script MT', cursive;*/
    font-family: times;
    font-size: 20px;
    font-weight:bold;
    padding-left: 30px;
    text-align: left;
}
div#rec-tit{
    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    /*font-weight: bold;*/
    padding-left:20px;
    font-size: 35px;

}

/* Recipe FORM */

a#NYT-import{
    color:#E61155;
    font-style:italic; 
}
#form-container{
   width:600px;
   padding: 30px; 
}
#ingr-form{
    padding:10px;
    border: 1px solid black;
}
#list-ingr{
    padding:20px;
}
#msg{
    color: red;
}
#title: after{
    display:inline;
    content:" *"; 
}
/* PLANNER */
#img-planner{

    height: 100px;
}

/* Modal ADD */
div#title-box{
    font-size: 8px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

img#recipe-img{
    width: 100%;
    padding-right: 25px;
    padding-bottom: 20px;
}
/*Shopping List*/
div#shopping-container{
    background-color:rgb(238, 238, 238) ;
}

span#shop-name{

    font-size:35px;
    font-weight: 900;
    font-family:'Pacifico',cursive;
    /*padding-bottom: 20px;*/
}
div#view-ingr{

    font-size: 20px;
    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family:'Pacifico';*/
    font-family:cursive;
    font-weight: 700;

}
div#view-aisle{

    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color:#E61155 ;

}
div#list-box{

    /*background-image: url('/static/img/bloc.png'); */
    background-size: 80% 100%;
    background-repeat: no-repeat;

}
div#send{

    padding-left: 60px;
}

/*Expenses*/
div#month{

    font-size: 25px;
    text-align: center;
    font: bold;
}
div#set-month{

    vertical-align: bottom;
    font-size: 20;
    padding-top: 14px;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
div#add-expenses{

    padding-top:13px;
    padding-left:95px;
}
div#expenses-title{
    padding-top:20px;
    font-weight: 700;
}
/*canvas#donutChart{

    width:450px; 
    height: 300px;
}*/

div#total{

    padding-top:30px;
    padding-left:30px;
    font-size: 20px;
    font-weight: bold;
}

canvas#donutText{

    z-index: 1; 
    position: absolute;
    background: transparent;
    left: 100px; 
    top: 60px;
    height: 300px; 
    width: 300px;

}
.panel-heading{
    font-weight:500;
}

@media print {
   body {font-size:8pt;}
   background-color:green;
}

