
body { padding-top: 140px; }
div.top-bar{

    background: #ffcc33;
    /*width: 1200px;*/
    /*padding-left: 20px;*/
    padding-top:20px;

}

.logo-wrap{
   
   text-align:center;
   /*width: 100px;*/
   font-size: 40px;
   font-family: 'Brush Script MT', cursive;
}

.title-wrap{
   /*width:900px;*/
   font-size: 40px;
   text-align:center;
   font-family: 'Playfair Display';
   color: #1B2340;
   font-style: italic;
   font-weight: 900;
   padding-left:200px;
}

.login-wrap{
   /*width: 200px;  */
   text-align:right;
   font-size: 20px;
   font-family: 'Playfair Display';
   font-style: italic;
   vertical-align: bottom;
   padding-top:10px;
   padding-right: 30px;
 
}

.sign{

    border: transparent;
    background-color: transparent;
    padding-right: 20px;
}

.img_container{
   
  width:100%;
  height: auto;
}

.section{

    /*width:400px;*/
    font-size: 18px;
    padding: 30px;
    text-align:center;
    font-family: 'Playfair Display';
    font-style: italic;
    text-align: justify;
}

/* Recipe list*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
div#nav{
    line-height:30px;
    /* background-color:#eeeeee; */
    height:auto  ;  
    width:350px;
    float:left;
    padding-left: 30px;
    padding-top:30px;
} 
    
div#recipe-box{
    
    /*width: 1200px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    /*padding-left: 20px;*/
    padding-top: 30px;
 
}
div#recipe-title{
        
    font-size: 20px; 
    font: bold;
    /*font-family: 'Playfair Display';*/
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    vertical-align: bottom;
    padding-top: 20px;
    padding-bottom:20px;
    font-weight: 700;
}

div#recipe-desc{
    
    font-size: 15px; 
    /*width:500px;*/
    text-align: left;
    vertical-align: center;
    padding-right: 30px;
}

div#view-button{

    margin-top: 20px;
    float: rigth;
    width: 10%;
    
}
div#reset{

    padding-right: 30px;
}

div#flt-bt{
    padding-left: 31px;
}

div#reset-filter{
    padding-right:20px;
}

.form-inline > * {
   margin:5px 3px;
}

img#recipe-img{
    width:300px;
    padding-top: 20px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

/*Recipe List in Bootstrap*/
#filter-box{
    /* background-color:#eeeeee; */
    height: 100vh;  
    float:left;
    padding-left: 30px;
    padding-top:30px;
    position: relative;
}
/* Recipe page */

/*#recipe-page{
   
  width:600px;
}
*/

div#img-box{

    padding-top:30px;
}

div#ingr-box{
    /*width:400px;*/
    padding-top: 20px;
    /*padding-left: 20px;*/
    
}

div#steps-box{
    /*width:600px;*/
    /*padding-top: 20px;
    padding-left: 20px;*/
    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Brush Script MT', cursive;*/
    font-size: 15px;
   
}
div#ingr-item{

    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Playfair Display';*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-style: italic;*/
    font-size: 15px;
    text-align: left;
    font-weight: bold;

    
}
div#ingr-qty{

    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 15px;
    /*font-family: 'Brush Script MT', cursive;*/
    text-align: left;
    /*padding-left: 20px;*/
    font-weight: bold;
    padding-left:25px;
}

div#qty{

    text-align: right;
}
div#step-num{

    /*font-family: 'Brush Script MT';*/
    font-size: 18px;
    /*font-family: 'Open Sans';*/
    text-align: left;
    padding-left: 20px;
    /*padding-top: 20px;*/
    /*font-weight: 900;*/
    font-weight: bold;
    
}
div#step-desc{

    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Helvetica', sans-serif;*/
    font-size: 18px;
    /*font-weight: 500;*/
    text-align: justify;
    padding-left: 20px;
    /*padding-top: 20px;*/

}
div#r-desc{
    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 18px;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}

div#planner-butt{

    padding-top:10px;
    padding-left:40px;
    text-align:right;
}

div#delete-butt{

    padding-top:10px;
    padding-right:10px;
}

div#info-butt{

    padding-right:50px;
}

div#ingr{
    /*font-family: 'Brush Script MT', cursive;*/
    font-family: times;
    font-size: 20px;
    font-weight:bold;
    padding-left: 25px;
    text-align: center;
}
div#rec-tit{
    /*font-family: 'Brush Script MT', cursive;*/
    /*font-family: 'Playfair Display';*/
    /*font-style: italic;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    /*font-weight: bold;*/
    padding-left:20px;
    font-size: 35px;

}

/* Recipe FORM */
#form-container{
   width:600px;
   padding: 30px; 
}
#ingr-form{
    padding:10px;
    border: 1px solid black;
}
#list-ingr{
    padding:20px;
}
#msg{
    color: red;
}
#title: after{
    display:inline;
    content:" *"; 
}
/* PLANNER */
#img-planner{

    height: 100px;
}

/* Modal ADD */
div#title-box{
    font-size: 8px;
    font-family: 'Brush Script MT';
    text-align: center;
}

img#recipe-img{
    width: 100%;
    padding-right: 25px;
    padding-bottom: 20px;
}
/*Shopping List*/

input#notepad{

    background-image: url('/static/img/notepad.png');
}
div#view-ingr{

    font-size: 25px;
    /*font-family: 'Brush Script MT', cursive;*/
    font-family:'Lobster';

}
div#view-aisle{

    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    color: blue;

}
div#list-box{

    /*background-image: url('/static/img/bloc.png'); */
    background-size: 80% 100%;
    background-repeat: no-repeat;

}
div#delete-btn{

    padding-top: 20px;
}

/*Expences*/
div#month{

    font-size: 25px;
    text-align: center;
    font: bold;
}
div#set-month{

    vertical-align: bottom;
    font-size: 20;
    padding-top: 14px;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
div#add-expenses{

    padding-top:13px;
    padding-left:45px;
}

/*canvas#donutChart{

    width:450px; 
    height: 300px;
}*/

div#total{

    padding-top:30px;
    padding-left:30px;
    font-size: 20px;
    font-weight: bold;
}

canvas#donutText{

    z-index: 1; 
    position: absolute;
    background: transparent;
    left: 100px; 
    top: 60px;
    height: 300px; 
    width: 300px;

}

@media print {
   body {font-size:8pt;}
   background-color:green;
}

