<!doctype html>
<html>
<head>
  
  <title>{% block title %}{% endblock%}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css"></link>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <!--- FACEBOOK --->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1678018099111437',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <!-- Top bar with Logo Title Login -->
<div class="top-bar">  
<table>
    <tr>
      <td class="logo-wrap"><a href="/">Logo</a></td>
      <td class="title-wrap">{% block page %} {% endblock %}</td>
      <td class="login-wrap">  
          {% if 'User' in session %}
            <a href="/logout"> Sign Out </a>
          {% else %}
            <a href="/login">Sign In </a>|<a href="/register">Sign Up </a>
            
          {% endif %}
      </td>
    </tr>  
  <hr>
  </table>
</div>  

<!-- Navigation bar --> 
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/recipes">Recipe</a></li>
  <li role="presentation"><a href="#">Plan Meals</a></li>
  <li role="presentation"><a href="#">Shopping Lists</a></li>
</ul>

  {% block content %} {% endblock %}

</body>
</html>