{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Shopping List {% endblock%}
{% block content %}

<body>

<div container>
    <br><br>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-3" >
            <form action='/saveShoppingList' id="notepad">

                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" class="form-control" id="name" placeholder="List name" name='Name'>
                </div>

                <div class="form-group">
                    <label for="name"></label>
                    <input type="submit" value='Save'>
                </div>

                {% for ingr, qty in list.iteritems() %}

                <div class="form-group">

                    <input type="hidden" name="ingredient" id="ingr" value="{{ingr}}">
                    <label for="name"></label>
                    <button class="glyphicon glyphicon-trash" id='del-ingr' ></button>
                    <button class="glyphicon glyphicon-pencil" id='edit-ingr'></button>
                     {{ qty['qty']}} {{ qty['unit'] }} {{ ingr }}
                 </div>    
                {% endfor %}
            </form>
        </div>
    </div>    
</div>

<script>

function deleteIngr(evt){

    evt.preventDefault();


    alert("HI"+ $("#ingr"));

    $.get('/')
}

$('#del-ingr').on('click', deleteIngr)

</script>
</body>
{% endblock %}