{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Shopping List {% endblock%}
{% block content %}

<body>

    <div container>
        <br><br>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-3" id="list-box">

                 <!-- Hidden Box for error or success messages -->
        <div class="form-group" id="msg-box" class="col-xs-6" style="display: none;">
            <h4 id="msg"></h4>
            <form id="view-rec" style="display: none;" action='#'>
                <button type="submit" class="btn btn-default">View</button>
            </form>    
        </div>
                <form action='/saveShoppingList' id="notepad" method="POST">

                    <!-- LIST NAME -->
                    <div class="form-group">
                        <label for="name"></label>
                        <input type="text" class="form-control" id="name" placeholder="List name *" name='name'>
                    </div>

                    <div class="row">

                    <!-- SAVE BUTTON  -->
                        <div class="col-xs-6"><h4>Select ingredients:</h4></div>
                        <div class="col-xs-2 col-xs-offset-4">
                            <div class="form-group">
                                <label for="name"></label>
                                <input type="submit" id="send-form" value='Save'>
                            </div>
                        </div>   

                    </div>

                    <!-- AISLE -->

                    {% for aisle in list.keys() %}
                        
                            <div><h4> {{ aisle}} </h4></div>

                            <!-- INGREDIENT -->

                            {% for ingr in list[aisle]%}

                                <div class="form-group">
                                    <input type="checkbox" name="ingredient" value="{{ ingr }}" id="checkAll"> 

                                    {{ingr}}

                                     </input>
                                </div>    
                                    
                             {% endfor %} <br><br>

                    {% endfor %}
   
                    <!-- <input type="hidden" name="list" value="{{ list }}"> -->
                </form>
            </div>
        </div>    
    </div>

    <script>



   
    function displayList(result){

        alert("DATA");
        // Display a message

    }

    function sendForm(evt){

        evt.preventDefault();

        // To get all of selected checkboxes values

        var checkedValues = $('input:checkbox:checked').map(function() {
                            return this.value;}).get();

        var input = $("<input>").attr("type", "hidden").attr("name", "ingredients").
                       val(checkedValues);
        $('#notepad').append($(input));

        if ($("#name").val().length!=0){
            $('#notepad').submit();

        } else {

            $("#name").attr("class","form-group has-error");
            msg = "The field Title is mandatory!";
            
            $("#msg-box").toggle();
            $("#msg").html(msg);
            $('input[name=name]').focus();

        }   


    }


    $("#send-form").on('click', sendForm);

// to check all of the check boxes at once 

    $('#checkAll').click(function(){
        
        if($(this).attr('checked')){
            
            $('input:checkbox').attr('checked',false);
        }
        
        else {
            
            $('input:checkbox').attr('checked',true);
        }
    });

    </script>



</body>
{% endblock %}