{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Meal Planner {% endblock%}
{% block content %}

<!-- Image -->
<div>
    <img class="img_container" src="/static/img/homepage.jpg">
</div>

<!-- Sections -->
<div >   
  <table>
    <tr>
      <td class="section"> <a href="/recipes"> Store Recipes </a></td>
      <td class="section"> <span class="glyphicons glyphicons-dining-set" aria-hidden="true"></span><a href="/plan"> Plan Meals </a></td>
      <td class="section"> <a href="/grocery"> Make grocery list </a></td>
    <tr>
    <!-- <tr> 
      <td> <img src="/static/img/Rhubarb-Pie-articleLarge.jpg" height: 100px;></td>
      <td> <img src="/static/img/Rhubarb-Pie-articleLarge.jpg" height: 157px;> </td>
      <td> <img src="/static/img/Rhubarb-Pie-articleLarge.jpg" height: 157px;></td>

    </tr>  -->
  </table>
 </div> 

{% endblock %}

