{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Recipes {% endblock%}
{% block content %}
<link rel="stylesheet" href="/static/css/calendar.css"></link>

<body>
      
    <div class="container">

        <div class="row">
            <!-- DATEPICKER -->
        </div>

        <div class="row">
            <h3>{{ start_date.strftime("%B")}} {{ start_date.strftime("%d")}} - 
                {{ end_date.strftime("%d")}}</h3>
        </div> 

        <h1>Your meal planner</h1>
        <div class="grid-calendar">
            <div class="row calendar-week-header">
                {% for meals in meals_list %}
                    <div class="col-xs-1 grid-cell"><div>
                    <div><span>{{ meals['date'] }}</span></div>
                    </div></div>
                 {% endfor%}   
            </div>
            <div class="row calendar-week"> 
                {% for meals in meals_list %}
                    {% for meal in meals['meals'] %}
                       <div class="row calendar-week">
                            {{ meal}}
                       </div>
                    {% endfor %}   

                {% endfor %}    
            </div>  


            <div class="row calendar-week">
                <div class="col-xs-1 grid-cell previous-month"><div><div><span>31</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>1</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>2</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>3</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>4</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>5</span></div></div></div>
                <div class="col-xs-1 grid-cell"><div><div><span>6</span></div></div></div>
            </div>
        </div> 
    </div>
</body>

{% endblock %} 
          
