{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Import Recipe {% endblock%}
{% block content %}

<body>
<!-- <div id="form-container"> -->

<div container>
    <div class="col-xs-2">
    </div>
    
    <div class="col-xs-6">
        <br><br>
        <!-- IMPORT RECIPE FROM NYT -->
        <form action = '/importRecipe'>

                <div class="form-group">
                    <label for="url"><h4>Import recipe from <a href='http://cooking.nytimes.com'> New York Times</a></h4></label>
                    <input type="text" class="form-control" id="url" placeholder="New York Time URL" name='url'>
                    </input>
                </div>

        </form>
        <br><br>

        <div class="form-group"><label> <h4> Create a recipe manually:</h4></label> </div>


          <!-- Hidden Box for error or success messages -->
        <div class="form-group" id="msg-box" class="col-xs-6" style="display: none;">
            <h4 id="msg"></h4>
            <form id="view-rec" style="display: none;" action='#'>
                <button type="submit" class="btn btn-default">View</button>
            </form>    
        </div>

        <form action="/addRecipeForm" id="add-rec" enctype="multipart/form-data" name="fileinfo">

            <div class="form-group" id="family-recipe">
                <label for="title">Title *</label>
                <input type="text" class="form-control" id="title" placeholder="Title" name='title'>
            </div>

            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control" rows="3" id="desc" name='description'></textarea>
            </div>
            
            <div class="form-group" id="family-recipe">
                <label for="source">Source</label>
                <input type="text" class="form-control" id="source" name='source'>
            </div>

            <div class="form-group" id="family-recipe">
                <label for="cat">Category</label>
                <select class="form-control" name="category" id="cat">
                    <option></option>
                    {% for cat in categories%}
                       <option value="{{ cat.cat_code }}">{{cat.cat_name}}</option>
                    {% endfor %}
                </select> 
            </div>
            
            <div class="form-group" id="family-recipe">
                <label for="cuisine">Cuisine</label>
                <input type="text" class="form-control" id="cuisine" name='cuisine'>
            </div>

            <div class="form-group" id="family-recipe">
                <label for="servings">Servings</label>
                <select class="form-control" name="servings" id="serv">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="form-group" id="family-recipe">
                <label for="time">Cook time</label>
                <input type="text" class="form-control" id="time" name='cookTime'>
            </div>

            <div class="form-group" id="family-recipe">
                <label for="skill">Level</label>
                <select class="form-control" name="level" id="skill">
                    <option value=""></option>
                    <option value="E">Easy</option>
                    <option value="M">Medium</option>
                    <option value="D">Difficult</option>
                </select>    
            <div class="form-group"  id="family-recipe">
                <label for="recipeImg">Image</label>
                <input type="file" id="recipeImg">
                <img id="blah" src="#" alt="family recipe" style="display:none" />
            </div>
 
    </ul>
<div id="ingr-form">
            <div class="form-group"  id="family-recipe">
                <label for="ingr">Ingredients</label>
                <!-- <select class="form-control" name="ingredient" id="ingr-name">
                    <option></option>
                    {% for ingr in ingredients%}
                       <option value="{{ ingr.name }}">{{ingr.name}}</option>
                    {% endfor %}
                </select>   -->
                <input type="text" class="form-control" name="ingredient" id="ingr-name"></input>
            </div>
            <div class="form-group">
                
                <div class="form-inline">
                    <div class="form-group" class="col-xs-3">
                        <!-- <div class="col-xs-2">     -->
                            <label for="qty">Quantity</label>
                            <input type="text" class="form-control" id="qty"></input>
                        <!-- </div> -->
                    </div>
                    <div class="form-group" class="col-xs-3">
                        <!-- <div class="col-xs-2">     -->
                            <label for="units">Measurements</label>
                            <select class="form-control" id="unit" name="units">
                                <option value="" selected> </option>
                                <option value="pound">pound</option>
                                <option value="ounces">ounce</option>
                                <option value="flounce">fluid ounce</option>
                                <option value="cup">cup</option>
                                <option value="tablespoon">tablespoon</option>
                                <option value="teaspoon">teaspoon</option>
                                <option value="pinch">pinch</option>
                                <option value="clove">clove</option>   
                            </select>  
                        <!-- </div> -->
                    </div> 
                </div>  
            </div>
            <div class="form-group">
                <div class="form-inline" class="col-xs-6">  

                    <div class="form-group" class="col-xs-3">
                        <label for="qty">More info</label>
                        <input type="text" class="form-control" id="info"></input>
                    </div> 
                    
                    <div class="form-group" class="col-xs-3">
                      <button type="submit" class="btn btn-default" id="add-ingr">Add</button>  
                    </div>  
            </div>
            <!-- List of ingredients entered -->
            <div class="form-group">
                    <div class="form-group" class="col-xs-6" id="list-ingr">

                    </div>
                </div>      

            </div>
                    
  </div>  <div class="form-group">   </div>     
            

            <div class="form-group">
                <label for="desc">STEP 1</label>
                <textarea class="form-control" rows="3" id="step" name='step1'></textarea>
            </div>

            <div class="form-group">
                <label for="desc">STEP 2</label>
                <textarea class="form-control" rows="3" id="step" name='step2'></textarea>
            </div>

            <div class="form-group">
                <label for="desc">STEP 3</label>
                <textarea class="form-control" rows="3" id="step" name='step3'></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
      
        </form>
    </div>
</div>   

<script>

// UPLOAD IMG 

// form_data.append("Title","polpette");
    function readURL() {
        
        var input = document.getElementById("recipeImg");
        var reader = new FileReader();
        
        reader.onload = function (e) {
          $('#blah').toggle();  
          $('#blah').attr('src', e.target.result).width(150);
        };

        reader.readAsDataURL(input.files[0]);
      
    }

    $(recipeImg).on("change", readURL);

// Save ingredients

    var listIngr = [];
    // var ingredients = { "ingredients": listIngr};
    var eachIngr = {};


    function showIngredients(){

        var htmlIngr = "<ul>";
       
        for(var i=0 ; i < listIngr.length ; i++){

           htmlIngr += "<li>" + listIngr[i].qty + " " + listIngr[i].unit +" ";
           htmlIngr += listIngr[i].name + "</li>";
        }

        htmlIngr += "</ul>";

        $("#list-ingr").html(htmlIngr);
        $("#ingr-name").val("");
        $("#qty").val(""); 
        $("#info").val(""); 
        $("#unit").val("");
        
    }

    function saveIngr(evt){
       
        evt.preventDefault();

        eachIngr = {
            "name": $("#ingr-name").val(),
            "qty": $("#qty").val(),
            "unit": $("#unit").val()
          };

        listIngr.push(eachIngr);  

        showIngredients();
    }

    $("#add-ingr").on("click", saveIngr);

// SEND FORM

    function sendNewForm(evt){

        evt.preventDefault();
        
        // Links the formData to the form
        var form = document.querySelector('#add-rec');
        var formData = new FormData(form);

        // Get the file to upload
        var fileEl = $('input[type=file]');
        var actualFile = fileEl.get(0).files[0];
        
        // Appends the image and list of ingredients
        formData.append("Image",actualFile);

        console.log(listIngr.length);
        console.log(listIngr[0]);

        formData.append("listIngr", JSON.stringify(listIngr));
        console.log(JSON.stringify(listIngr)    )

        // for (var i =0; i < listIngr.length ; i++){
        //     formData.append("Ingr[]",listIngr[i]);
        // }
        // formData.append("Ingr[]",listIngr);
        
        if ($("#title").val().length!=0){
            $.ajax({
                  type: 'POST',
                  url: '/addRecipe.json',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: refreshPage
                  
                });
        } else{
            
            $("#family-recipe").attr("class","form-group has-error");
            msg = "The field Title is mandatory!";
            msgHandler(msg);

            
            // $("#msg-box").toggle();
            // $("#msg").html("The field Title is mandatory!");
            // $('input[name=title]').focus();
            // alert("The field Title is mandatory!")
        }

    }

    $("#add-rec").on("submit",sendNewForm);

// SEND FORM    
    function refreshPage(results){
        alert("refresh");
        $("#view-rec").toggle();
        
        $("#view-rec").attr("action","/recipe_page/"+results.recipeid);

        msgHandler(results.msg)

    }

    function msgHandler(results){
        alert(results);
        // document.getElementById("add-rec").reset();
        // Cleans all the input fields
        $("#add-rec").trigger('reset'); 
        $("#list-ingr").html('');
        listIngr=[];
        $('#blah').toggle(); 
        
        // Shows box-img and message and move cursor to title input field
        $("#msg-box").toggle();
        $("#msg").html(results);
        $('input[name=title]').focus();
    }

    function errorHandler(){

      $("#msg-box").attr("display", "inline-block");
      $("#msg").html("An error has occurred. Your recipe has not been added");

    }

    
    // function sendForm(evt) {

    //   evt.preventDefault();

    //   var formInputs = {
    //     "title": $("#title").val(),
    //     "description": $("#desc").val(),
    //     "source": $("#source").val(),
    //     // "img": $("#blah").val(),
    //     // "img" : form_data,
    //     "ingredients": listIngr
    //   };
      // form_data.append("title");
    //   $.get("/addRecipe.json", formInputs, refreshRecipeForm);
    // }


    // $("#add-rec").on("submit",sendForm);
</script>
</body>

{% endblock %}