{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Recipe {% endblock%}
{% block content %}

<body>
    <div class="container">
        
        <!-- Recipe Title and Buttons -->

        <div class="row">
            <div class="col-xs-7" id="rec-tit">
                {{ recipe.title }}
            </div>  
            <div class="col-xs-2 col-xs-offset-1" id="planner-butt"> 
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add to Planner</button>

            </div>   
            <div class="col-xs-2" id="delete-butt">
                <a href="/deleteRecipe/{{ recipe.recipe_id}}" >
                    <button type="button" class="btn btn-default">Delete
                    </button></a>
            </div> 
        </div>    

        <div class="row" id="img-box">

        <!-- RECIPE IMG -->

            <div class="col-xs-6"> 

            {% if recipe.image_url%}
                
                {% if 'http' in recipe.image_url %}   
                             
                 <img id="recipe-page" src="{{ recipe.image_url }}">
                 
                 {% else %}

                 <img id="recipe-page" src="/static/img/recipes/{{ recipe.image_url }}">

                {% endif %} 

            {% else %} 

                <img id="recipe-page" src='#'>   

            {% endif %}  

                <!-- <img id="recipe-page" src="/static/img/recipes/{{ recipe.image_url }}"> -->
            </div>   
            
            <!-- RECIPE DESCRIPTION  -->
            <div class="col-xs-6">
                    
                    <div class="row">
                        <!-- RECIPE DESCRIPTION -->
                        <div class="col-xs-12" id="r-desc">
                            {{ recipe.description }}
                        </div>        
                    </div>

                    <br><br>
                    <div class="row" id="info-butt">
                        <div class="col-xs-4 col-xs-offset-1" >
                            {% if recipe.cook_time %}
                                <i class="fa fa-clock-o"></i>
                                 {{ recipe.cook_time }}
                            {% endif %}     
                         </div>
                        <div class="col-xs-4">
                            {% if recipe.servings %}
                                <i class="fa fa-user"></i>
                                {{recipe.servings}} servings
                            {% endif %}    
                        </div>
                        <div class="col-xs-3">
                            {% if recipe.cuisine %}
                                <i class="fa fa-cutlery"></i>
                                 {{recipe.cuisine}}
                            {% endif %}     
                        </div>

                    </div>    
                 
            </div>     
        </div>
        <br><br>

        <div class="row">

             <!-- INGREDIENTS -->
            <div class="col-xs-5">
                <div class="row" id="ingr"> 
                    <div class="col-xs-12">Ingredients: </div>
                </div> <br>   

                {% for ingredient in ingredients%}

                    <div class="row" >

                        <div class="col-xs-5" id="ingr-qty">
                        <!-- {% if ingredient.quantity and ingredient.quantity > 1
                                                  and ingredient.measure %} -->
                            <div class="col-xs-6" id="qty">
                                {{ ingredient.quantity }}
                            </div>

                            <div class="col-xs-6">    
                                {{ ingredient.measure }}
                            </div>    

                        <!-- {% else %} 

                            <div class="col-xs-4">
                                {{ ingredient.quantity }}
                            </div>

                            <div class="col-xs-6">     
                                 {{ ingredient.measure }}
                            </div>     

                        {% endif %} -->    

                        </div>
                        <div class="col-xs-7" id="ingr-item">
                            
                            {{ ingredient.ingredient_name }}
                        
                        </div>
                    </div>    
                {% endfor%} 
            </div> 
     
            <!-- INSTRUCTIONS -->
            <div class="col-xs-7">
                <div class="row" id="ingr"> Preparation: </div><br>

                {% for step in steps %}

                    <div class="row" id="step-num">

                        STEP {{ step.step_num }}

                    </div> <br>
                    <div class="row" id="step-desc">

                        {{ step.step_description }}

                    </div><br>
                {% endfor %}      
            </div> 
        </div>
    </div>



        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Planner</h4>
                </div>
                <div class="modal-body">
               
                    <form action="/plan-meal">

                        <label for="date">Meal Date : </label>
                        <input type="date" id="meal-day" name="date" size="20" />
                        <br><br>

                        <label for="type">Meal Type : </label>
                        <select name="type">
                            <option id="meal-type" name="type" value=""></option>
                            <option id="meal-type" name="type" value="breakfast">Breakfast</option>
                            <option id="meal-type" name="type" value="lunch">Lunch</option>
                            <option id="meal-type" name="type" value="dinner">Dinner</option>
                            <option id="meal-type" name="type" value="dinner">Snack</option>
                        </select>
                        <br><br>

                        <label for="servings">Number of servings : </label>
                        <select name="servings">
                            <option id="meal-type" name="servings" value=""></option>
                            <option id="meal-type" name="servings" value="1">1</option>
                            <option id="meal-type" name="servings" value="2">2</option>
                            <option id="meal-type" name="servings" value="3">3</option>
                            <option id="meal-type" name="servings" value="4">4</option>
                            <option id="meal-type" name="servings" value="5">5</option>
                            <option id="meal-type" name="servings" value="6">6</option>
                            <option id="meal-type" name="servings" value="7">7</option>
                            <option id="meal-type" name="servings" value="8">8</option>
                        </select>
                        <br><br>
                        <input type="hidden" name="recipeid" value="{{ recipe.recipe_id }}" />
                        <input class="btn btn-default" type="submit" value="Submit" />
                        
                    </form>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>

        <!-- End of Modal -->

        <!-- CALENDAR -->
        <div id="calendar-box" style="display: none;">

            <form action="/plan-meal">

                <label for="date">Meal Date : </label>
                <input type="date" id="meal-day" name="date" size="20" />
                <br><br>

                <label for="type">Meal Type : </label>
                <select name="type">
                    <option id="meal-type" name="type" value=""></option>
                    <option id="meal-type" name="type" value="breakfast">Breakfast</option>
                    <option id="meal-type" name="type" value="lunch">Lunch</option>
                    <option id="meal-type" name="type" value="dinner">Dinner</option>
                    <option id="meal-type" name="type" value="dinner">Snack</option>
                </select>
                <br><br>

                <label for="servings">Number of servings : </label>
                <select name="servings">
                    <option id="meal-type" name="servings" value=""></option>
                    <option id="meal-type" name="servings" value="1">1</option>
                    <option id="meal-type" name="servings" value="2">2</option>
                    <option id="meal-type" name="servings" value="3">3</option>
                    <option id="meal-type" name="servings" value="4">4</option>
                    <option id="meal-type" name="servings" value="5">5</option>
                    <option id="meal-type" name="servings" value="6">6</option>
                    <option id="meal-type" name="servings" value="7">7</option>
                    <option id="meal-type" name="servings" value="8">8</option>
                </select>
                <br><br>
                <input type="hidden" name="recipeid" value="{{ recipe.recipe_id }}" />
                <input class="btn btn-default" type="submit" value="Submit" />
                
             </form>   

        </div>
    
    
    <script>
      
        function addRec(evt){
        
            $("#calendar-box").css({display: "block"});

        }

        $("#add-meal").on("click",addRec);
    </script>    
    
    <script type="text/javascript">
    
        var datefield = document.createElement("input")   
        
        datefield.setAttribute("type", "date")

        //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        if (datefield.type!="date"){ 

            document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')

            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')

            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
        }
    </script>

    <script>    
        //if browser doesn't support input type="date", initialize date picker widget:
        if (datefield.type!="date"){ 

            jQuery(function($){ //on document.ready
                $('#meal-day').datepicker();
            })
        }

    </script>

</body>

{% endblock %}