{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Shopping List {% endblock%}
{% block content %}

<link rel="stylesheet" href="/static/css/notebook.css">


<body>

    <div container>
        <br><br>
        <div class="row" >
            <div class="col-xs-6 col-xs-offset-3" id="list-box" >

                <div class= 'row'>
                    <div class='col-xs-2 col-xs-offset-10'>
            <!-- Send Shopping List via SMS with Twilio -->
                        <form action="/sendShoppingList" method='POST'>
                            
                            <input type="submit" class='btn btn-default' id="send" 
                            value='Send list'>
                            <input type="hidden" name="listIng" value='{{name}}'>
                            
                        </form>
                    </div>
                </div>       
                <br>
            
            <!-- Delete Shopping List -->
                <form action="/deleteShoppingList">
                
                <!-- LIST NAME -->
                <div class='notecontainer'>
                <p class="paper" >

                  {% if name%}  
                    <div class="row">   

                        <div class="col-xs-6 col-xs-offset-2">
                            <h3>{{ name }}</h3>
                        </div>   
                        <div class="col-xs-1 " id="delete-btn"> 
                            <button type="submit" class='btn btn-default'
                             value="Delete list" data-toggle="tooltip" data-placement="bottom" title="Delete list"/> <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> </button> 

                        </div>
                        <div class="col-xs-1" id="delete-btn">
                            <a href="javascript:window.print();">
                                <button class='btn btn-default' id="print" data-toggle="tooltip" data-placement="bottom" title="Print list"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> </button>
                            </a>
                        </div>


                    </div>
                  {% endif %}      

                    <input type='hidden' name='date' value='{{date_created}}'/>
                    
                <!--  AISLE -->           
                        
                    {% for aisle in list.keys()%}

                        <div  class="row" id="view-aisle" >
                            <div class="col-xs-6 col-xs-offset-2">

                                {{ aisle }}
                            
                            </div> 
                        </div>
                            

                <!-- INGREDIENT -->

                        {% for ingr in list[aisle]%}

                        <div class="row" id ="view-ingr">   
                             <div class="col-xs-6 col-xs-offset-2">   
                                {{ingr}}
                             </div>  
                        </div>            
                        {% endfor %}
                        <br>

                    {% endfor %}

                    <input type='hidden' name='lname' value='{{name}}'>
                </p>
                </div>
                </form>  

            </div>
            
            <!-- ALL SHOPPING LISTS -->

            <!-- <div class="col-xs-2">
              
                <form action="/getShoppingLists">
                    
                    <select><h4>Select other lists:</h4>
                    
                    {% for name in names %}
                    <div class="row">

                        <div class="form-group">
                            <option value='{{name[0]}}'>{{name[0]}}</option>
                        </div>    

                    {% endfor %}

                    </select>
                     <input type='submit' class="btn btn-default" value='View'>-->
                        <!-- <div class="col-xs-5 col-xs-offset-1"> -->
                    
                           <!--  <button class="btn-group btn-group-xs" value="View">View</button>
                            
                        </div>
 -->
                    <!-- </div>  <br>  --> 
                
                </form>
            </div>
        </div>  


<script> 

    function printShopList(evt){

        evt.preventDefault();

        window.print();
    }

    $("#print").on('click', printShopList);


    // function sendSMS(evt){

    //     evt.preventDefault();

    //     alert("SENDING SMS");

    //     $.get("/sendShoppingList", {{ list|safe }});

    // }

    // $("#send").on('click', sendSMS);
</script>
        

</body>
{% endblock %}