{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Shopping List {% endblock%}
{% block content %}

<body>

    <div container>
        <br><br>
        <div class="row" >
            <div class="col-xs-4 col-xs-offset-3" id="list-box" >

                <form action="/deleteShoppingList">
                
                    <!-- LIST NAME -->
                  {% if name%}  
                    <div class="row">   
                        <div class="col-xs-4">
                            <h3>{{ name }}<h3>
                        </div>   
                        <div class="col-xs-5 col-xs-offset-3"> 
                            <input type="submit" class='btn btn-default'
                             value="Delete List" />   
                        </div>
                    </div>
                  {% endif %}      

                    <input type='hidden' name='date' value='{{date_created}}'/>
                    
                    <!--  AISLE -->           
                        
                    {% for aisle in list.keys()%}

                    <div  class="row" id="view-aisle" >{{ aisle }}</div> 
                        

                    <!-- INGREDIENT -->

                            {% for ingr in list[aisle]%}

                               <div class="row" id ="view-ingr">{{ingr}}</div>    
                                    
                            {% endfor %}
                        <br>

                    {% endfor %}

                    <input type='hidden' name='lname' value='{{name}}'>

                </form>  

            </div>
            <div class="col-xs-3">

                <h3>All of your lists:</h3><br><br>
                {% for name in names %}
                    <div class="row">

                        <div class="col-xs-6">
                            {{name[0]}}
                        </div> 

                        <div class="col-xs-4 col-xs-offset-2">
                            <a href="/getShoppingLists/{{name[0]}}">
                                <button class="btn-group btn-group-xs" value="View">View</button>
                            </a>
                        </div>

                    </div>  <br>  
                {% endfor %}

                
            </div>
        </div>  

        

</body>
{% endblock %}