{% extends 'base.html' %}
{% block title %}Meal planner{% endblock%}
{% block page %} Shopping List {% endblock%}
{% block content %}

<body>

    <div container>
        <br><br>
        <div class="row" >
            <div class="col-xs-6 col-xs-offset-1" id="list-box" >

                <form action="/sendShoppingList" method='POST'>
                            <!-- <a href="/sendShoppingList/{{ list }}"> -->
                            <input type="submit" class='btn btn-default' id="send"
                            value ="Send an SMS">
                            <input type="hidden" name="listIng" value='{{name}}'>
                            
                            </form>

                <form action="/deleteShoppingList">
                
                    <!-- LIST NAME -->
                  {% if name%}  
                    <div class="row">   
                        <div class="col-xs-6">
                            <h3>{{ name }}<h3>
                        </div>   
                        <div class="col-xs-2 " id="delete-btn"> 
                            <input type="submit" class='btn btn-default'
                             value="Delete List" />   
                        </div>
                        <div class="col-xs-2" id="delete-btn">
                            <a href="javascript:window.print();">
                                <button class='btn btn-default' id="print">Print</button>
                            </a>
                        </div>

                    </div>
                  {% endif %}      

                    <input type='hidden' name='date' value='{{date_created}}'/>
                    
                    <!--  AISLE -->           
                        
                    {% for aisle in list.keys()%}

                    <div  class="row" id="view-aisle" >{{ aisle }}</div> 
                        

                    <!-- INGREDIENT -->

                            {% for ingr in list[aisle]%}

                               <div class="row" id ="view-ingr">{{ingr}}</div>    
                                    
                            {% endfor %}
                        <br>

                    {% endfor %}

                    <input type='hidden' name='lname' value='{{name}}'>

                </form>  

            </div>
            <div class="col-xs-5">

                <h3>All of your lists:</h3><br><br>
                {% for name in names %}
                    <div class="row">

                        <div class="col-xs-6">
                            {{name[0]}}
                        </div> 

                        <div class="col-xs-5 col-xs-offset-1">
                            <!-- <a href="/getShoppingLists/{{name[0]}}"> -->
                                <button class="btn-group btn-group-xs" value="View">View</button>
                            <!-- </a> -->
                        </div>

                    </div>  <br>  
                {% endfor %}

                
            </div>
        </div>  


<script> 

    function printShopList(evt){

        evt.preventDefault();

        window.print();
    }

    $("#print").on('click', printShopList);


    // function sendSMS(evt){

    //     evt.preventDefault();

    //     alert("SENDING SMS");

    //     $.get("/sendShoppingList", {{ list|safe }});

    // }

    // $("#send").on('click', sendSMS);
</script>
        

</body>
{% endblock %}